<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web app for posting</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <div class="container">
        <h1>POSTS</h1>
        <form action="/">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque illo ut ad modi
                 ipsum facilis laudantium non, alias eligendi voluptatem, dicta fugiat inventore 
                 odit quos esse similique ab nemo tempore.0
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque illo ut ad modi
                 ipsum facilis laudantium non, alias eligendi voluptatem, dicta fugiat inventore 
                 odit quos esse similique ab nemo tempore.0
            </p>
        </form>
            <form action="/addPost" method="post">
                <input type="text" name="post" placeholder="Please write your post" class="rame">
                <button type="submit" id="add">Post</button>
            </form>
            <% posts.forEach((post, index) => { %>
                <div class="post">
                    <%= post %>
                    <form action="/addPost" method="POST">
                        <input type="hidden" name="index" value="<%= index %>">
                        <input type="text" name="editPost" placeholder="Edit your post" class="rame rume">
                        <button type="submit" id="edit_<%= index %>">Edit</button>
                    </form>
                    <form action="/delete/<%= index %>" method="POST">
                        <button type="submit" id="del_<%= index %>" class="del">Delete</button>
                    </form>
                </div>
            <% }) %>
    </div>
    
</body>
</html>